/* PAGE */

* {
    font-family: 'Oswald', 'Arial Narrow', sans-serif;

}
html, body {
    height: 100%;
}

body,
.pure-g [class*=pure-u] {
    height:100%;
    width:100%;
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}

main{
    left:0px;
    right:0px;
    overflow:auto;
    padding:10px;
    margin-bottom : 100px;
    margin-top : 100px;
}

h1 {
    font-size: 80;
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding: 45px 20px;
}

.pure-button-primary {
    background-color: #0c1a2b;
}

.pure-button-primary:hover {
    background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
    border-color: #0c1a2b;
}

/* NAVBAR */


.navbar a {
    color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
    background: #233e5e;
}
.navbar .pure-menu-heading {
    z-index:999;
    position:fixed;
    width:100%;
    top:0;
    display: flex;
    flex-direction: row;
    background: #0c1a2b;
    font-family: 'Oswald', 'Arial Narrow', sans-serif;
    left:0px;
    right:0px;
    overflow:hidden;

    margin:0px ;
    margin-bottom: 0;

    text-transform: none;
}

.navbar .navbar-right {
    float: right;
}

.navbar .uport-logo {
    height: 16px;
    margin-right: 10px;
}

.listContainer{
    font-size: 16px;

    padding: 0px 20px 0px 20px;
&:first-child {
     border-left: solid 1px #fff;
 }

border-right: solid 1px #fff;
text-align: left;
}
.ulFooter {
    list-style-type: none;
    text-align: left;
    margin: 0;
    -webkit-app-region: #fff;
    padding: 0;
}

.ulFooter > li > a{
    color: #fff;
}

#Footer{
    bottom: 0;
    width: 100vw;
    font-size: 15px;
    font-weight: 1000;
    background: #0c1a2b;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    font-family: 'Oswald', 'Arial Narrow', sans-serif;
    height: 100px;
    position: fixed;

    width: 100%;
    color: #ffffff;
    line-height: 1.5;
    text-align: center;

    bottom:0px; height:100px; left:0px; right:0px; overflow:hidden;
}

greenCheck{
    color: green
}

redCheck{
    color: red
}

svg {
    fill: currentColor;
}

.address-box{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

}